<mdb-carousel [animation]="'slide'" class="mt-0 pt-0">
  <mdb-carousel-item>
    <img class="d-block w-100" style="max-height: 500px" src="assets/images/eng-mythbusting-ncov-(23).png" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="max-height: 500px" src="assets/images/eng-mythbusting-ncov-(13).png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="max-height: 500px" src="assets/images/eng-mythbusting-ncov-(19).png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="max-height: 500px" src="assets/images/eng-mythbusting-ncov-(30).png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="max-height: 500px" src="assets/images/eng-mythbusting-ncov-(33).png" alt="Second slide">
  </mdb-carousel-item>
</mdb-carousel>
<br>
<br>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="text-align: center;font-weight: bold">The World Wide Covid-19 statistics</h1>
      <hr>
      <table style="width:100%">
        <tr>
          <th>Confirmed</th>
          <th>Deaths</th>
          <th>Recovered</th>
        </tr>
        <tr>
          <td>{{totalCases}}</td>
          <td>{{death}}</td>
          <td>{{recovered}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" *ngIf="death">
        <h5 class="card-header" style="text-align: center;font-weight: bold"><span class="title3"> Case breakdown by Region </span><span class="lastUpdate">{{update}}</span></h5>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Regions</th>
              <th scope="col">Total Cases</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let r of regions;let index = index">
              <td>{{r}}</td>
              <td>{{affectedNum[index]}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div style="display: block">
        <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>

