
table {
    width: 100%;
  }
  .tableMargin{
    margin-bottom:30px; 
  }
  .title{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size:40px;
    margin-bottom: 70px;
    margin-top: 30px;
    margin-bottom: 50px;
  
  }
  .border{
    border: solid;
  }
  .graph1{
    margin-top:25px;
    margin-bottom:50px;
  }
  .con{
    margin-left: 150px ;
    margin-right: 150px ;

  }
  p{
    font-family: 'Oxygen', sans-serif;
  }
  .title2{
    font-family: 'Balsamiq Sans', cursive;
    font-size:20px;
  }